<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Qingqing</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/react/16.4.0/umd/react.development.js"></script>
	<script src="https://cdn.staticfile.org/react-dom/16.4.0/umd/react-dom.development.js"></script>
	<script src="https://cdn.staticfile.org/babel-standalone/6.26.0/babel.min.js"></script>
</head>
<body>
<div class="container header">
<div class="page-header">
		<h1>添加留言</h1>
		<a href="/"><button class="btn btn-success">返回首页</button></a>
		</div>
		<div class="comments container">
<form action="/process_post" method="post" onsubmit="return check()">
<div class="form-group">
<label for="name">你的大名</label>
<input type="text" class="form-control" placeholder='请输入你的姓名' name="name" id="name"> 
</div>
<div class="form-group">
	<label for="content">留言内容</label>
<textarea name="content" id="content" cols="30" rows="10" class="form-control"></textarea>
	</div>
<input type="submit" class="btn btn-default">
</form>
	</div>
	</div>
<script>
    function check(){
    var name=document.getElementById('name').value.trim()
    var content=document.getElementById('content').value.trim()
    	if(name.length<2||name.length>10||content.length<5||content.length>20){
    		return false
    	}
    	return true
    }
</script>
</body>
</html>
